.addForm{
    padding: 8px;
    justify-content: space-evenly;
    display: flex;
    border-radius: 8px;
    margin: 35px auto;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.button{
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #efefef;
    font-size: 18px;
    margin: auto 8px;
    background-color: #337AB7;
    padding: 8px;
    border-radius: 8px;
    width: 125px;
    margin-right: auto;
}
.addForm label{
    position: absolute;
    top: -22px;
    right: 0;
}
.inputTxt{
    outline: none;
    font-size: 18px; 
    direction: rtl;
    width: 120px;
    transition: all ease .5s;
    padding: 8px 0;
    border: none;
    background-color: inherit;
    border: 2px solid #5E4390;
    margin: auto 8px;
    border-radius: 8px;
    color: #5E4390;
    width: 150px;
}

.inputTxt::placeholder{
    color: #5E4390;
    
}



/* media */

@media(max-width:1200px){
    .searchForm{
        display: block;
    }
    
    
  
    .searchForm  input{
        width: 100%;
        margin: 8px auto;
        display: block;
    }
    
    .searchForm  select{
        width: 100%;
        margin: 0;
    }
    .searchForm button{
        width: 100%;
        margin: 8px auto;
    }

    
   
}
