
.container{
    padding: 10px;
    margin: 10px;
}
.addForm{
    
    padding: 8px;
    justify-content: space-evenly;
    display: flex;
    border-radius: 8px;
    margin: 35px auto;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.addForm label{
    position: absolute;
    top: -22px;
    right: 0;
}

.inputTxt{
    
    outline: none;
    font-size: 18px; 
    direction: rtl;
    width: 120px;
    transition: all ease .2s;
    padding: 8px 0;
    border: none;
    background-color: #FFFFFF;
    border: 2px solid #C5CAD7;
    margin: auto 8px;
    border-radius: 4px;
    color: #2f2f2f;
    width: 150px;
}

.inputTxt::placeholder{
    color: #C5CAD7;
}
.inputTxt:focus{
    color: #2f2f2f;
    border: 2px solid black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.button{
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #efefef;
    font-size: 18px;
    margin: auto 8px;
    background-color: #5628EE;
    padding: 8px;
    border-radius: 8px;
    width: 125px;
    margin-right: auto;
}
.groupTags{
    margin: 8px;
    background-color: #5628EE;
    color: #efefef;
    padding: 4px 8px;
    border-radius: 2px 8px 8px 2px;
    display: inline-flex;
}
.tagBtn{
    width: 10px;
    background-color: inherit;
    margin: auto 4px;
    padding: 0;
}

/* media */

@media(max-width:1200px){
    .addProducts{
        display: block;
    }
    .addGroup{
        display: block;
    }
    .addGroup input {
        width: 100%;
        margin: 8px auto;
        display: block;
    }
    .addGroup button {
        width: 100%;
        margin: 8px auto;
    }
    .addProducts div input{
        width: 100%;
        margin: 8px auto;
        display: block;
    }
    
    .addProducts div select{
        width: 100%;
        margin: 0;
    }
    .addProducts button{
        width: 100%;
        margin: 8px auto;
    }

    
   
}
