
.container{
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 8px;


}
.addForm{
    padding: 8px;
    justify-content: space-evenly;
    display: flex;
    border-radius: 8px;
    margin: 35px auto;
    position: relative;
    border-bottom: 2px solid #5E4390;
}
.addForm label{
    position: absolute;
    top: -22px;
    right: 0;
}
.inputTxt{
    outline: none;
    font-size: 18px; 
    direction: rtl;
    width: 120px;
    transition: all ease .5s;
    padding: 8px;
    border: none;
    background-color: inherit;
    border: 2px solid #5E4390;
    margin: auto 8px;
    border-radius: 8px;
    color: #5E4390;
    width: 150px;
}

.inputTxt::placeholder{
    color: #5E4390;
    
}

input[type='number']::-webkit-inner-spin-button{
    display: none;
}
.button{
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #efefef;
    font-size: 18px;
    margin: auto 8px;
    background-color: #337AB7;
    padding: 8px;
    border-radius: 8px;
    width: 125px;
    margin-right: auto;
}