.section{
    height:93vh;
    background-color: #F3F7FD;
    padding: 15px;
    border-radius: 18px;
    color: #253646;
    width: 100%;
    padding: 0;
    display: flex;
}
.article{
    background-color: #F3F7FD;
    padding: 15px;
    border-radius: 18px;
    color: #253646;
    direction: rtl;
    width: 100%;
}
.container{
    width: 100%;
}