.sideMenu{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    color: #2f2f2f;
    width: 260px;
    direction: rtl;
    height: 100%;
    
}
ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 7px;
  }
a,a:hover{
    text-decoration: none;
    width: 100%;
    padding:0 8px;
    display: block;
    text-decoration: none;
    
}
a:hover{
    color: #2f2f2f;
}
a:focus{
    color: #2f2f2f;
}
li{
    width: 100%;
    list-style: none;
    font-size: 20px;
    padding: 7px 0px;
    cursor: pointer;
    margin: 5px 0;
    transition: all ease .5s;
    display: flex;

}
svg{
    margin: auto 0;
}
li:hover{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin-right: 20px;
    width: 90%;
    color: #2f2f2f;
}
.active{
    color: #2f2f2f;
    background-color: red;
}
.button{
    outline: none;
    color: #6137EE;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 18px;
    padding:auto 8px;
    text-decoration: none;
}
.button:focus{
    color: #2f2f2f;
}
.button:hover{
    color: #2f2f2f;
}
.icon{
    padding-left: 8px;
}