.sideMenu{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    color: #2f2f2f;
    width: 260px;
    direction: rtl;
    height: 100%;
    transition: all ease .7s;
}
ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 7px;
  }
a,a:hover{
    text-decoration: none;
    width: 100%;
    padding:0 8px;
    display: block;
    text-decoration: none;

}
a:hover{
    color: #2f2f2f;
}

li{
    width: 100%;
    list-style: none;
    font-size: 20px;
    padding: 7px 0px;
    cursor: pointer;
    margin: 5px 0;
    transition: all ease .7s;
    position: relative;
}
.spanContainer{
    position: absolute;
    top: 0px;
}
.hidden{
    visibility: hidden;
}
svg{
    margin: auto 0;
}
.active{
    color: #1f1f1f !important;
}
.sideMenuHide{
    width: 56px;
}
li:hover{
    margin-right: 15px;
    width: 90%;
 
}
.active{
    color: #2f2f2f;
    background-color: red;
}
.button{
    outline: none;
    color: #6137EE;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 18px;
    padding:auto 8px;
    text-decoration: none;
}


.icon{
    padding-left: 8px;
    
}