.navbar{
    background-color: #FFFFFF;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    color: #2f2f2f;
    height: 36px;
}
a,a:hover{
    text-decoration: none;
    
}
.marginY{
    margin: auto 20px !important;
}
.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto 8px;
}
.button{
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 18px;
    margin: auto 8px;
}
.divider{
    background-color: #2f2f2f;
    width: 2px;
    opacity: .3;
    border-radius: 8px;

}
.positionRelative{
    position: relative;
}
.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 1px 6px;
    border-radius: 50%;
    background: #947AF4;
    color: white;
  }
  .icon{
    opacity: .6;
    margin-top: 5px;
  }
  .inputText{
    outline: none;
    background-color: #F3F7FD;
    font-size: 18px; 
    border: 2px solid #947AF4;
    direction: rtl;
    width:120px;
    transition: all ease .5s;
    padding: 8px;
    border-radius: 8px;
    color: #2f2f2f;
  }
  .inputText:focus{
    border: 2px solid #947AF4;
    width:200px;
  }
  .inputText::placeholder{
    color: #2f2f2f;
    
  }

input::placeholder{
    color: #2f2f2f;
}

.logoContainer{
    display:grid;
    margin-top:-8px;
    color: black;
}
.companyName{
    font-size:18px;
}
.companyDescription{
    font-size:14px;
}





/* media */
@media(max-width:700px){
    .logoContainer span{
        font-size: 14px;
    }
    
   
}
@media(max-width:310px){
    
    .logo{
        display: none;
    }
    
   
}
