@font-face {
	font-family: 'Yekan';
	src:	url('./font/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('./font/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('./font/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('./font/Yekan.woff') format('woff'), /* Modern Browsers */
			url('./font/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('./font/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
body {
  margin: 0;
  padding:0;
  font-family: 'Yekan';
  background-color: #F5F5F5;
  height: 100%;
}
html, body {
	height: 100%;
  }