.container{
    background-color: #F5F7FA;
    padding: 10px;
    display: flex;
    flex-direction: column;
 
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    border-radius: 8px;
}
.tableHeader{
    display: flex;
    justify-content: space-between;
}

.button{
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #efefef;
    font-size: 18px;
    margin: auto 8px;
    background-color: #337AB7;
    padding: 8px;
    border-radius: 8px;
    width: 125px;
    margin-right: auto;
}
.filterList{
    border: 1px solid #e5e5e5;
    outline: none;
    padding: 5px;
    margin: 5px;
    width: 200px;
    font-family: 'Yekan';
    cursor: pointer;
    border-radius: 8px;
    background-color: #DFDFDF;
}
.filterOption{
    padding: 5px;
    font-family: 'Yekan';
    cursor: pointer;
    outline: none;
    border: none;
    margin: 28px auto !important;
}
select option {
    padding: 15px;
    font-family: 'Yekan';
    cursor: pointer;
    outline: none;
    border: none;
}
table{
    border: 1px solid #f2f2f2;
    text-align: center;
    border: none;
    padding:5px;
    border-spacing: 0 8px;
    
}
thead{
    opacity: .6;
}
tbody tr:hover{
    cursor: pointer;
    
    padding: 8px auto;
    color: #f2f2f2;
    background-color: #5628EE;
    
}
tbody tr{
    color: #2f2f2f;
    background-color: #F3F7FD;
    border-radius: 8px;
}

tbody tr td{
    padding: 15px;
}
input[type="checkbox"] {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #eee;

}
input[type="checkbox"]:hover {
    background-color: #ccc;
}
input[type="checkbox"]:checked {
    background-color: #2196F3;
}
