.container{
    background-color: #F5F7FA;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    border-radius: 8px;
}
.tableHeader{
    display: flex;
    justify-content: space-between;
}

.button{
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #efefef;
    font-size: 18px;
    margin: auto 8px;
    background-color: #337AB7;
    padding: 8px;
    border-radius: 8px;
    width: 125px;
    margin-right: auto;
}
.removeBtn{
    background-color: crimson;
    width: 100px;
}
.changeBtn{
    background-color: #8C6FF0;

    width: 100px;
}
.notExist{
    text-align: center;
    background-color: khaki;
    margin: auto;
}
.filterList{
    border: 1px solid #e5e5e5;
    outline: none;
    padding: 5px;
    margin: 5px;
    width: 200px;
    font-family: 'Yekan';
    cursor: pointer;
    border-radius: 8px;
    background-color: #DFDFDF;
}
.filterOption{
    padding: 5px;
    font-family: 'Yekan';
    cursor: pointer;
    outline: none;
    border: none;
    margin: 28px auto !important;
}
select option {
    padding: 15px;
    font-family: 'Yekan';
    cursor: pointer;
    outline: none;
    border: none;
}
table{
    border: 1px solid #f2f2f2;
    text-align: center;
    border: none;
    padding:5px;
    border-spacing: 0 8px;
    table-layout: fixed;
}

thead{
    opacity: .6;
}
tbody tr:hover{
    
    padding: 8px auto;
    color: #f2f2f2;
    background-color: #5628EE;
    
}
tbody tr{

    color: #2f2f2f;
    background-color: #fff;
    border-radius: 8px;
}

tbody tr td{
    padding: 15px;
}
input[type="checkbox"] {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #eee;

}
input[type="checkbox"]:hover {
    background-color: #ccc;
}
input[type="checkbox"]:checked {
    background-color: #2196F3;
}



@media screen and (max-width: 1200px) {
    .table tr td button{
        display: block;
        width: 100%;
        margin: 5px auto;
    }
    table {
      border: 0;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: right;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }

  }