
.header{
    background-color: #efefef;
    padding: 15px;
    border-radius: 18px;
    color: #253646;
    direction: rtl;
    display:flex;
    justify-content:space-between;
    margin:15px;
    background-color:#fff;
}
.header span span{
    display: inline;
}

/* media */
@media(max-width:700px){
    .header{
        display: block;
    }
    
   
}
@media(max-width:300px){
    .header span span{
        display: block;
    }
    
   
}
